@import "tailwindcss";

body, html {
  height: 100%;
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

#root {
  height: 100%;
  width: 100%;
}

.btn {
  border: 2px solid rgb(4, 4, 186);
  font-size: larger;
  background-color: rgba(255, 255, 255, 0.219);
}

.btn:hover {
  background-color: #080889;
  color: rgb(224, 224, 224);
  transition: 0.5s;
}

.balls {
  background-color: blue;
  position: absolute;
  top: 0%;
  left: 100%;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: ballPulse 2s 1s ease-in-out infinite alternate;
}

.downBalls {
  background-color: blue;
  position: absolute;
  top: 100%;
  left: 100%;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: ballPulse 2s 2s ease-in-out infinite alternate;
}

@keyframes ballPulse {
  0% {
    width: 100px;
    height: 100px;
    opacity: 0.5;
  }
  50% {
    width: 300px;
    height: 300px;
    opacity: 1;
  }
  100% {
    width: 100px;
    height: 100px;
    opacity: 0.5;
  }
}

/* Adjust the form images' positioning for mobile */
.loginFormsImage,
.signupFormsImage {
  max-width: 100%;
  object-fit: contain;
  margin: 0 auto;
  animation: ImageUpDown 2s ease-in-out infinite alternate;
}

.signupFormsImage {
  animation: ImageUpDown 2s ease-in-out infinite alternate;
}

@keyframes ImageUpDown {
  0% {
    transform: translateY(0); /* Start at original position */
  }
  50% {
    transform: translateY(10px); /* Moves slightly down */
  }
  100% {
    transform: translateY(0); /* Moves back up */
  }
}
.setting-icon {
  transition: transform 2s all;
  cursor: pointer;
}

.setting-icon:hover {
  
  transform: rotate(200deg);
}

.logo_with_dashboard {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 40;
  animation: runningLogo 15s ease-in-out infinite alternate;
}

@keyframes runningLogo {
  0% {
    left: 0;
    top: 0;
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    left: 20.5%;
    top: 0%;
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    left: 78%;
    top: 0%;
    opacity: 1;
  }
}

/* Media Queries to Adjust Layout */
@media (max-width: 768px) {
  /* For small screens (Mobile first) */
  .loginFormsImage,
  .signupFormsImage {
    margin-bottom: 20px; /* Space below the form */
  }

  .DashbordLanding_Container .left, .DashbordLanding_Container .right {
    flex-direction: column !important; /* Stack the form and image vertically */
    align-items: center;
    justify-content: center;
  }

}

@media (min-width: 768px) {
  /* For larger screens (Tablets, Desktops) */
  .DashbordLanding_Container .left, .DashbordLanding_Container .right {
    flex-direction: row !important; /* Stack horizontally for wider screens */
  }

  .DashbordLanding_Container .right {
    margin-top: 0; /* Remove extra margin for large screens */
  }

  .signupFormsImage {
    animation: none; /* Remove animation for large screens */
  }
}

.dialogforclass {
  background-color: rgba(0, 38, 255, 0.525); 
  border: 4px solid #170bb8; 
  overflow: hidden;
  border-radius: 8px;
}
.innerHeading{
  background-color: var(--color-amber-400);
  color: #080889;
  font-weight: bold;
  font-size: larger;
}
/* Dialog content styling */
.innerClassDialog {
  background-color: var(--color-blue-100);
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
}

/* Scrollable form inside dialog */
.dialogforclass .MuiDialogContent-root {
  max-height: 300px; /* Adjust as needed */
  overflow-y: auto;
}

/* Styling for input fields */
.MuiTextField-root {
  background-color: transparent !important;
  border-radius: 4px;
}

.MuiTextField-root input {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: large;
  color: rgb(0, 0, 0) !important;
}

.MuiTextField-root label {
  color: rgb(255, 0, 0) !important;
}

.MuiTextField-root .MuiInputBase-root {
  border-color: rgb(255, 0, 0) !important;
}

/* Scrollbar styles */
.dialogforclass .MuiDialogContent-root::-webkit-scrollbar {
  width: 8px;
}

.dialogforclass .MuiDialogContent-root::-webkit-scrollbar-track {
  background: #440ff1; /* Light yellow */
  border-radius: 4px;
}

.dialogforclass .MuiDialogContent-root::-webkit-scrollbar-thumb {
  background: #0b0eb8; /* Dark yellow */
  border-radius: 4px;
}

.dialogforclass .MuiDialogContent-root::-webkit-scrollbar-thumb:hover {
  background: #ffc800;
}

/* QR Scanner Page Styles */
.qr-scanner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.scanner-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 500px;
}

.scanner-video-wrapper {
  position: relative;
  width: 100%;
  padding-top: 100%;  /* Aspect Ratio 1:1 for square shape */
  background-color: #333;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.scanner-video-wrapper.scanned {
  animation: scanAnimation 0.5s ease forwards;
}

@keyframes scanAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.scanner-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.scanner-close-button {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.scanner-close-button:hover {
  background-color: darkred;
}

.back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

/* Loader */

/* HTML: <div class="loader"></div> */

.loader {
  width: 24px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 3px solid #0000;
  border-right-color: #ffc800;
  position: relative;
  animation: l24 1s infinite linear;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  inset: -8px;
  border-radius: 50%;
  border: inherit;
  animation: inherit;
  animation-duration: 2s;
}
.loader:after {
  animation-duration: 4s;
}
@keyframes l24 {
  100% {transform: rotate(1turn)}
}
.WavingStudent{
  height: 200px;
  z-index: 40;
  animation: comeHello 1s ease-in;
}
@keyframes comeHello {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.intro_Images {
  height:89vh;
  position: absolute;
  left: 75%;
  top: 55.5%;
  transform: translate(-50%, -50%);
  z-index: 0;
  animation: popUp 0.8s ease-in, Updown 2s ease-in-out infinite;
}

@keyframes popUp {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

@keyframes Updown {
  0%, 100% {
    transform: translate(-50%, -50%);
  }
  50% {
    transform: translate(-50%, calc(-50% - 10px));
  }
}

.teacher_info{
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.rbc-allday-cell{
  display: none;
}

.rbc-time-header-cell .rbc-today{
  background-color: aliceblue !important;
}

.rbc-time-slot{
  color: #0b76b8;
  z-index: 1;
}

.rbc-time-slot:not(.rbc-today , .rbc-time-slot){
  background-color: rgb(196, 0, 0);
}

.rbc-event,
.rbc-background-event{
  z-index: 2;
}